footer{
	
	
	
	position: relative;
}
.footer{
	position: absolute;
	background-color: orange;
	width: 100%;
	margin-top: 50px;
	color: white;
	padding-left: 50px;
}
nav{
	background-color: orange;
	z-index: 10;
}
nav a,nav a:active,nav a:hover{
	color: white;
}
nav ul{
	display: inline-block;
z-index: 20;
}
nav ul li{
	list-style-type: none;
	float: left;
	margin-right:20px;


}
nav img{
	height: 20px;
	width:20px;
	display: inline;
}
nav p{
	display: inline;
	color: white;
}
.index img{
	display: inline-block;
	margin-top: 20px;
	height: auto;
	width:40%;
}
.right{
	float: right;
}
#form-container {
	display: inline-block;
	width:50%;
	float: right

}

#form-container form > input,label{
	float: right;
	width:100%;

	margin-top:20px; 
	display:block;
	

}
#form-container input{
	margin-right :20px;
}
#form-container label{

}
.user-search-result-container .inner{
z-index: 40;
}
.settings{
	float:right;
	position: relative;

}
.settings li{
	display: block;
	float: none;
}
.settings .hidemenu{
	display :none;
	position: absolute;
	background-color: orange;
	right:0px;
	top: 20px;
}
.user-search-result-container{
	position: relative;

}
.user-search-result-container .inner{
	position: absolute;

}
.user-search-result-container .result{

	background-color: white;
	font-color:rgb(88, 92, 90);

	display: block;

} 
.user-search-result-container a{
	color:rgb(88, 92, 90);
	display: block;
	padding :10px;
}
.likebutton{
 color:black;	
 cursor:pointer;
}
.message-options .active {
color:green;

}
.retweetbutton{
	color:black;
	cursor: pointer;
}
.newtweetbox{
	display: block;
	width:60%;
	height:8em;
	float: left;
	margin:20px 20px;
}
.new-tweet-message input[type=submit]{
	display: block;
	width: 10%;
	height: 4em;
	margin :40px 20px;
	float: left;

}
.messagecontainer{
	background-color:whitesmoke;
}
.wall-inner-message{
	position: relative;
	
}
.wall-inner-message img,h5,i{

	display:inline-block;
	


}
.wall-inner-message p,a{
	margin-left: 80px;
	display: block;

}

.message-options{
	margin-left: 80px;
}
#replycontainer{
	margin:40px;
	background-color:rgb(239, 239, 239); 
}
